<div class="bg-light sports-nav">
    <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">NCAAF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NFL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MLB</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">EPL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NBA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MLB</a>
  </li>
</ul>
</div>
